body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#f9faf8
}

img {
  border-radius: 8px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1F2937;
  justify-content:space-between;
  overflow: auto;
  padding-left: 150px;
  padding-right: 150px;
  border-bottom: solid;
  border-color: orange;
  border-width: 2px;

}

ul li {
  position: relative;
  margin: 0 20px;
  list-style: none;
  display: inline-block;
  padding: 5px;
  font-size: 17px;
  
}

ul li a{
  text-decoration: none;
  cursor: pointer;
  color: #f9faf8;
}

ul li a:hover {
  background-color: orange;
}

.sectionA {
  background-color: #1F2937;
  font-size: small;
  padding-left: 220px;
  padding-right:220px;
  padding-bottom: 20px;

  
}

.sectionAwrapper {
  display: flex;
  flex-direction: row;

}

.context {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  color: darkkhaki;
}

p {color: #f9faf8;
}

.context_left {
display: flex;
flex-direction: column;
justify-content: space-between;
padding-right: 20px;
}

.context_right {
  display: flex; 
  justify-content: space-between;
  border: 1.2px solid orange;
  border-radius: 8px;
 
}

button {
font-size: 16px;
padding: 10px;
width: 100px;
border-radius: 8px;
border: 2px solid #f9faf8;
background-color: #1F2937;
color: #f9faf8;
align-self: center;
}

button:hover {
  background-color:orange;
  color:black;
}

.context_left .context_right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
