body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#f9faf8
}

.ryu {
  border-radius: 8px;
  border: 1px solid orange;
  position: absolute;
  top: 100px;
  right: 220px;
}

nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-color: #1F2937;
  justify-content:space-between;
  overflow: auto;
  padding-left: 150px;
  padding-right: 150px;
  border-bottom: solid;
  border-color: orange;
  border-width: 1px;

}

ul li {
  position: relative;
  margin: 0 20px;
  list-style: none;
  display: inline-block;
  padding: 5px;
  font-size: 17px;
  
}

ul li a{
  text-decoration: none;
  cursor: pointer;
  color: #f9faf8;
}

.content {
  display: flex;
  flex-direction: column;
}


ul li a:hover {
  background-color: orange;
}



.headerA {
  color: darkkhaki;
  font-size: medium;
}

.textA {
  color: #f9faf8;
  font-size: small;
}

.buttonA {
font-size: 16px;
padding: 10px;
width: 100px;
border-radius: 8px;
border: 2px solid orange;
background-color: #1F2937;
color: #f9faf8;
position: absolute;
top: 200px;
left:310px
}

.buttonA:hover {
  background-color:orange;
  color:black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 5px solid yellow;
  background-color: #1F2937;
  justify-content: space-between;
  gap: 1px;
  flex-grow: 1;
}


.flex-containerA {
  border: 2px solid red;
  align-self: stretch;
  height: 200px;

  
}

.flex-containerB {
  border: 2px solid green ;
  align-self: stretch;
  background-color: #f9faf8;
  height: 200px;
}

.headerA {
  position: absolute;
  top: 100px;
  width: 300px;
  left: 220px;
}

.textA {
  position:absolute;
  top: 130px;
  width: 300px;
  left:220px;
}

.cammy_img {
border-radius: 8px;
border: 1px solid rgb(42, 42, 245);
}

.juri_img {
  border-radius: 8px;
  border: 1px solid rgb(42, 42, 245);
}

.ken_img {
  border-radius: 8px;
  border: 1px solid rgb(42, 42, 245);
}

.dhal_img {
  border-radius: 8px;
  border: 1px solid rgb(42, 42, 245);
}

.headerB {
  text-align: center;
}